<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClubManagement">

        <!-- Main Activity (NEW) -->
        <activity
            android:name=".MainActivityNew"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings Activity (Main) -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="메인 설정"
            android:parentActivityName=".MainActivityNew"/>

        <!-- Club Settings Activity -->
        <activity
            android:name=".activities.ClubSettingsActivity"
            android:exported="false"
            android:label="동아리 설정"
            android:parentActivityName=".activities.ClubMainActivity"/>

        <!-- Detail Activity -->
        <activity
            android:name=".activities.DetailActivity"
            android:exported="false"
            android:label="상세 정보"/>

        <!-- Member Registration Activity -->
        <activity
            android:name=".activities.MemberRegistrationActivity"
            android:exported="false"
            android:label="회원 가입"/>

        <!-- Club Main Activity -->
        <activity
            android:name=".activities.ClubMainActivity"
            android:exported="false"
            android:label="동아리 메인"/>

        <!-- Old Main Activity (Backup) -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Signature Activities -->
        <activity
            android:name=".activities.SignaturePadActivity"
            android:exported="false"
            android:label="서명 패드" />

        <activity
            android:name=".activities.SignatureUploadActivity"
            android:exported="false"
            android:label="서명 업로드" />

        <!-- Document Activities -->
        <activity
            android:name=".activities.DocumentGenerateActivity"
            android:exported="false"
            android:label="문서 생성" />

        <!-- FileProvider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>